# Archivo de secretos
.env

# Archivos de memoria del bot
last_patch_url.txt
sent_reminders.json

# Archivos de base de datos (si los usamos en el futuro)
*.db

# Archivos de caché de Python
__pycache__/
*.pyc

# Archivos de backup
backup.py